
.calendario-card {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
    max-width: 300px;
    margin: 0 auto;
}

/* Cor do círculo de seleção */
::ng-deep .mat-calendar {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
}


/* Torna os dias desabilitados pelo filtro mais opacos */
::ng-deep .mat-calendar-body-disabled {
    opacity: 0.8; /* Ajuste entre 0 e 1 conforme sua preferência */
    cursor: not-allowed;
}

/* Opcional: Se quiser que o número dentro do dia mude de cor também */
::ng-deep .mat-calendar-body-disabled .mat-calendar-body-cell-content {
    color: rgba(0, 0, 0, 0.4) !important;
}

::ng-deep .mat-calendar-period-button {
  font-size: 0.8rem !important; /* Tamanho do texto */
  font-weight: bold;
}


::ng-deep .mat-calendar-content {
    font-size: 0.8rem;
}

::ng-deep .mat-calendar-body-selected {
    background-color: #ec489a !important;
    color: white !important;
}

/* Cor do dia atual (bolinha vazia) */
::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    border-color: #ec489a !important;
}

::ng-deep .mat-calendar-body-cell{
    font-size: 0.8rem !important;
}
/* Ajuste de tamanho para caber na coluna */
::ng-deep .mat-calendar {
    width: 100% !important;
    height: auto !important;
}