
.horarios-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.horarios-grid button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.horarios-grid button:disabled {
    background-color: #f5f5f5;
    color: black;
    cursor: not-allowed;
    border: 1px dashed #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.status-badge {
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: bold;
}


.hora-ocupada {
    opacity: 0.6;
}

.hora-selecionada {
    color: white;
    font-weight: bold;
    background-color: #ec489a !important;
    border-color: #ec489a !important;

}

.no-intervalo:not(.hora-selecionada) {
    background-color: #fce7f3 !important; /* Um rosa bem clarinho */
    border: 1px dashed #ec489a !important;
    color: #ec489a !important;
}
