
.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    background-color: rgb(241, 241, 241);
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
.card{

    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    min-width: 300px;
}

.titulo{
    font-size: 0.9rem;
}
.subtitulo{
    color: rgba(0, 0, 0, 0.493);
    margin-top: 5px;
    font-size: 0.8rem;
}