
.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    background-color: rgb(241, 241, 241);
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: 1.2rem;
}

.cards {

    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 50px;
    gap: 30px;


}

.card {
    padding: 30px;
    width: 1000px;
    border-radius: 15px;
    box-shadow: 0px 0.5px 0.5px 0.3px rgba(0, 0, 0, 0.315);
    background-color: white;
    font-size: 0.9rem;

}

.titulo-card {
    display: flex;
    gap: 15px;
}

.icone {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    background-color: #ec489a3a;

}

.servicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px auto;
}

.sub-desc{
    color: rgba(0, 0, 0, 0.603);
}
.servico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.nome-servico {
    color: #444;
    font-weight: 500;
}

.preco-servico {
    color: #d61a8e;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #d61a8e27;
    padding: 15px;
    font-size: 0.8rem;
    border-radius: 8px;
    border: 1px solid pink;
}


@media (max-width: 600px) {
    .servicos-container {
        grid-template-columns: 1fr;
    }
}