main{
    display: flex;
    width: 100%;
    background-color: black;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: auto;
    min-height: 600px;
    margin-top: 60px;
    color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../../assets/img/banner.jpeg");

}

.texto{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    font-size: 1.2rem;
    color: white;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 20px;
    max-width: 90%;
    margin-bottom: 30px;
    margin-left: 20px;
}


.titulo-alongamento{
    line-height: 1.2;
}

.botoes{
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: black;
}

.agendar, .servicos{
    font-style: 'Montserrat';
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: white;
    margin: 10px;
    font-size: 1.1rem;

}

.agendar{
    background-color: #ec4899;
    color: white;
}

.servicos{
    background-color: #6A7BFF;
    color: white;
}

.agendar:hover{
    background-color: #be3e7e;
    transition: 0.7s;
}

.servicos:hover{
    background-color: #4653b4;
    transition: 0.7s;

}


@media (max-width: 768px){
    .content{
        min-height: 500px;
        justify-content: center;
        align-items: center;
        margin-top: 110px;
        background-image: url("../../../assets/img/banner_celular.jpg");

    }

    .texto{
        margin-left: 10px;
        margin-right: 10px;
        padding: 15px;
        text-align: center;
        align-items: center;
    }

    .titulo-alongamento{
        font-size: 1.5rem;
    }

    .descricao{
        font-size: 1rem;
    }

    .botoes{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .agendar, .servicos{
        margin: 0;
        width: 100%;
    }
}