.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    background-color: rgb(241, 241, 241);
    padding-bottom: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

.main-content {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 90%;
    gap: 50px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    line-height: 1.2;
    font-size: 1.2rem;
}


.lembrete {
    display: flex;
    width: 100%;
    background-color: #ec489a3a;
    gap: 10px;
    align-self: flex-start;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    font-size: 0.8rem;
}

.agendamento-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
    width: 100%;
}

.servicos-grid,
.calendario-coluna,
.horarios-coluna,
.dados-cliente {
    flex: 1;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    min-height: 500px;
}

.titulo-servico {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.etapa {
    display: flex;
    align-items: center;
    gap: 10px;
}



.numero {
    padding: 1px 5px 1px 5px;
    border-radius: 50%;
    background-color: #ec489a;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.selecao p {
    color: rgba(0, 0, 0, 0.411);
    font-size: 0.9rem;
}

.servico-categorias p {
    border: 1px solid #ddd;
    padding: 7px;
    border-radius: 7px;
    font-size: 0.7rem;
    cursor: pointer;
}

.categoria-selecionada {
    background-color: #ec489a;
    color: white;

}

.card-servico {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.info {
    display: flex;
    gap: 5px;
    flex-direction: column;
    font-size: 0.8rem;
    padding: 5px;
    border-radius: 10px;
}

.card-servico:hover {
    border: 1px solid #ec489a;

}


/* Botão de Finalização */
.btn-finalizar, .btn-prosseguir {
    margin-top: 10px;
    background-color: #ec489a;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-prosseguir{
    display: flex;
    padding: 10px;
    text-decoration: none;
    margin-top: 20px;
}

.btn-finalizar:hover, .btn-prosseguir:hover {
    background-color: #d13684;
    transition: 0.7s;
}

::ng-deep .snackbar-aviso {
  background-color: #333 !important; /* Fundo escuro para contraste */
  color: white !important;
}

::ng-deep .snackbar-aviso .mat-mdc-snack-bar-action {
  color: #ec489a !important; /* Cor do botão "Entendi" no seu rosa */
  font-weight: bold;
}

