.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    background-color: #101827;
    color: white;
    padding: 20px;
}

.up{
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 30px;
}

p{
    max-width: 600px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.texto-intro{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.459);

}

.links{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.horario{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

a{
    text-decoration: none;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.459);

}
.line{
    width: 100%;
}

.down{
    color: rgba(255, 255, 255, 0.459);
    font-size: 0.9rem;

}